@font-face {
  font-family: 'GT-Zirkon';
  src: url('../public/fonts/GT-Flexa-X-Compressed-Black-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT-Zirkon';
  src: url('../public/fonts/GT-Flexa-X-Compressed-Black-Italic-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

:root {
  font-size: 14pt;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  /* font-family: 'GT-Zirkon'; */
}